<nav class="navbar">
	<%= form_tag('/events', method: "get", enforce_utf8: false, class: "navbar-form navbar-right") do %>
		<div class="form-group">
			<%= text_field :freeword, :content, placeholder: "Keyword", class: "form-control" %>
			<%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
		</div>
	<% end %>

	<div class="navbar-left">
		<%= link_to "ATND", events_path(source_id: 1), method: :get, class: "btn" %>
		<%= link_to "Doorkeeper", events_path(source_id: 2), method: :get, class: "btn" %>
		<%= link_to "Zusaar", events_path(source_id: 3), method: :get, class: "btn" %>
		<%= link_to "Connpass", events_path(source_id: 4), method: :get, class: "btn" %>
		<div><%= paginate(@events, :window => 3) %></div>
	</div>
</nav>

<div>
	<% flash.each do |key, value| %>
		<% if key == "notice" %>
		  <%= content_tag(:div, value, class: "alert alert-success") %>
	  <% else %>
	  	<%= content_tag(:div, value, class: "alert alert-danger") %>
	  <% end %>
	<% end %>
</div>

<!-- index -->

<div>Total : <%= @events.total_count %></div>

<% for events_set in @events.each_slice(3) %>
	<div class="row">
		<% for event in events_set %>
		<div class="col-xs-4">
			<%= link_to event_path(event), :class => "events_card_link" do %>
				<div class="events_card">
					<% if event.title.present? %>
						<p>
							<span class="events_card_title">
								<%= event.title[0..50] %>
								<% if event.title.length > 50 %>...<% end %>
							</span>
						</p>
						<hr>
					<% end %>
					<% if event.description.present? %>
						<p>
							<%= Sanitize.clean(event.description, Sanitize::Config::CUSTOM)[0..100] %>
							<% if event.description.length > 100 %>...<% end %>
						</p>
						<hr>
					<% end %>
					<% if event.started_at.present? %>
						<p>
							<span class="events_card_label">Date</span>
							<%= event.started_at.to_s[0..9] %>
						</p>
					<% end %>
					<% if event.adress.present? %>
						<p>
							<span class="events_card_label">Adress</span>
							<%= event.adress %>
						</p>
					<% end %>
					<% if event.place.present? %>
						<p>
							<span class="events_card_label">Place</span>
							<%= event.place %>
						</p>
					<% end %>
				</div>
			<% end %>
		</div>
		<% end %>
	</div>
<% end %>

<div><%= paginate(@events, :window => 3) %></div>
