<div>
	<p>source_id:<%= @event.source_id %></p>
	<p>source_event_id:<%= @event.source_event_id %></p>
	<p>title:<%= @event.title %></p>
	<p>catchtext:<%= @event.catchtext %></p>
	<p>description:<%= @event.description %></p>
	<p>detail_url:<%= @event.detail_url %></p>
	<p>hash_tag:<%= @event.hash_tag %></p>
	<p>started_at:<%= @event.started_at %></p>
	<p>ended_at:<%= @event.ended_at %></p>
	<p>pay_type:<%= @event.pay_type %></p>
	<p>event_type:<%= @event.event_type %></p>
	<p>reference_url:<%= @event.reference_url %></p>
	<p>limit:<%= @event.limit %></p>
	<p>adress:<%= @event.adress %></p>
	<p>place:<%= @event.place %></p>
	<p>lat:<%= @event.lat %></p>
	<p>lon:<%= @event.lon %></p>
	<p>owner_id:<%= @event.owner_id %></p>
	<p>owner_profile_url:<%= @event.owner_profile_url %></p>
	<p>owner_nickname:<%= @event.owner_nickname %></p>
	<p>owner_twitter_id:<%= @event.owner_twitter_id %></p>
	<p>owner_display_name:<%= @event.owner_display_name %></p>
	<p>accepted:<%= @event.accepted %></p>
	<p>waiting:<%= @event.waiting %></p>
	<p>banner:<%= @event.banner %></p>
	<p>source_published_at:<%= @event.source_published_at %></p>
	<p>source_updated_at:<%= @event.source_updated_at %></p>
	<p>series_id:<%= @event.series_id %></p>
	<p>series_title:<%= @event.series_title %></p>
	<p>series_country_code:<%= @event.series_country_code %></p>
	<p>series_logo:<%= @event.series_logo %></p>
	<p>series_description:<%= @event.series_description %></p>
	<p>series_url:<%= @event.series_url %></p>
</div>
